* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#logo-notebook {
    height: 200px;
}


#logo-header {
    height: 80px;
    margin-right: 40px;
}


#logo-wpp img {
    height: 60px;
    position: fixed;
    right: 20px;
    bottom: 20px;
}

#botaoContato,
#botaoEnviar {
    background-color: #C51111;
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 700;
    width: 200px;
    height: 50px;
    cursor: pointer;
    text-transform: uppercase;
    margin-top: 30px;
}

#botaoContato:hover {
    background-color: blue;
    transition: 1s ease-in-out;
}

#botaoEnviar:hover {
    background-color: blue;
    transition: 1s ease-in-out;
}

.lado-esquerdo {
    width: 40%;
}

.lado-direito {    
    margin: 0;    
    background-color: rgba(0, 0, 0, 0.0);
    height: 50vh;
    width: 25vw;
    display: grid;    
    place-items: center;    
}

body {
    height: 100vh;
}

.container-principal {
    display: flex;
    height: 100vh;
    align-items: center;    
    justify-content: space-around;    
    padding: 100px;
}

.container-imagem {
    position: fixed;
    top: 0px;    
    z-index: -1;    
}

#imagemFundo {
    width: 100vw;    
    position: fixed;
    top: 0;
}


.mascara {
    width: 100%;    
    height: 100%;    
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 10%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 95%);
    position: fixed;
    top: 0;    
}

p {
    color: white;
    font-size: 20px;
    line-height: 30px;
}

h2 {
    color: #cf7a44;
    line-height: 40px;
}


nav {
    margin-top: 10px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    gap: 30px;    
}

a {
    text-decoration: none;
    font-size: 30px;
    color: white;    
}

a:hover {
    color: #cf7a44;
    font-size: 31px;
    transition: 1s color ease-in-out;    
    transition: 0.5s ease-in-out;        
}

#botaoEnviar:disabled {
    background-color: grey;
    cursor: not-allowed;
}

.formulario-fale-conosco {
    background-color: white;
    display: flex;
    gap: 20px;    
    flex-direction: column;    
    position: fixed;
    top: 30%;
    left: -300px;
    padding: 20px;    
    border-radius: 5px;
    transition: left 1s ease-in-out;    
}

input {
    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 5px;    
    outline-color: #18D80F;    
}

textarea {
    height: 100px;
    width: 270px;
    border-radius: 5px;
    padding-left: 5px;    
    outline-color: #18D80F;    
}

.mascara-formulario {
    visibility: hidden;    
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.5;
    transition: visibility 1s ease-in-out;
}


.nosso-portifolio {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 30%;
    right: -390px;
    background-color: #E6E6FA;    
    padding-left: 40px;
    border-radius: 5px;
    height: 350px;
    width: 400px;
    transition: right 1s ease-in-out;
}

#botaoFechar {
    background-color: blue;
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 700;
    width: 30px;
    height: 30px;
    cursor: pointer;
    text-transform: uppercase;
    margin-bottom: 60px;
    margin-left: 330px;
    right: 0;
}

#botaoFechar:hover {
    background-color: #C51111;
    transition: 1s ease-in-out;
}

li {
    font-size: 25px;
    font-weight: bold;
    margin-top: 5px;
}

#li-01 {
    color: #D2120B;
}

#li-02 {
    color: #08BF01;
}

#li-03 {
    color: #FFBD04;
}

#li-04 {
    color: #064FEF;
}

h1 {    
    background-image: linear-gradient(90deg, rgb(96, 105, 233) 0%, rgb(83, 241, 167) 56%, rgb(203, 115, 244) 100%);
    background-clip: text;
    color: transparent;
    text-transform: uppercase;
    text-align: center;    
    font-family: "Titan One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    margin-bottom: 5px;
}


/* ======================== */
/* Animação - Configurações */

.animacao {
    perspective: 1000px;    
    perspective-origin: 100% 100%;    
}

.cubo {
    position: relative;    
    width: 200px; /*Tirar esse parâmetro proporciona um movimento de Translação*/
    height: 200px;
    transform-style: preserve-3d;    
    animation: rotate 40s linear infinite;   
}


.cubo>div {
    position: absolute;    
    width: 200px;
    height: 200px;    
    background: linear-gradient(to right, #09adc8, #001f4e);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    border: 2px solid #ffffff30;    
}

.imagem {
    height: 200px;
}

/*Lado A*/
.s1 {
    transform: translateZ(100px);   
}

/*Lado B*/
.s2 {
    transform: rotateY(90deg) translateZ(100px);    
}

/*Lado C*/
.s3 {
    transform: rotateY(180deg) translateZ(100px);   
}

/*Lado D*/
.s4 {
    transform: rotateY(-90deg) translateZ(100px);   
}


@keyframes rotate {
    100% {
        transform: rotateX(0deg) rotateY(360deg) rotateZ(0deg);
    }
}


/* ======================== */
/* Responsividade           */

@media (max-width: 1100px) {
    .container-principal {
        flex-direction: column;
        padding: 10px;
    }

    .lado-esquerdo p {
        display: none;
    }

    .lado-esquerdo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .lado-direito {
        display: none;
    }
    

    #logo-header {
        display: none;
    }

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        margin-left: 10px;
    }

    a {
        font-size: 20px;
    }

    a:hover {
        font-size: 22px;
    }
}
